@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@300;400;600&display=swap');

body{
    background-color: darkslateblue;
    font-family: 'Poppins', sans-serif;
    ;
}

*{
box-sizing: border-box;
}
.header{
height: 145px;
width: 100%;
padding: 0 5%;
position: sticky;
}
.active{
    font-weight: bolder;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    max-width: 100px;
    background-color: transparent;
}
.nav-links{
    padding: 25px 0;
}
.nav-links li{
    display: inline-flex;
    margin: 0 11px;
}
.nav-links li a{
    text-decoration: none;
    color: white;
    padding: 2px 0;  
    position: relative;
}
.nav-links li a::after{
    content: "";
    background: gray;
    width: 0%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.4s;
}
.nav-links li a:hover::after{
    width: 100%;
}
.container {
    margin: auto;
    margin-top: 5px;
    padding: 14px;
    background-color: white;
    box-shadow: 20px 30px 25px 0px rgba(0, 0, 0, 6)

}
input[type="text"],
input[type="password"],
input[type="email"]
{
    width: 100%;
    padding: 15px;
    margin: 15px 5px;
    display: grid;
    border: 10px;
    background: whitesmoke;
    text-align: left;
    opacity: 1;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus
{
    opacity: 0.8;
    outline: none;
}
.button {
    background-color:  darkslateblue;
    color: white;
    padding: 16px;
    margin: 5px 5px 5px 5px;
    border: 5px;
    cursor: pointer;
    width: 100%;
    opacity: 0.7;
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;

}
.button:hover {
    opacity: 1;
}
h1{
color: black; margin: 10px 5px;
}
p{
    font-size: 15px; color: black; margin: 20px 5px;
}
label{
    margin: 0 5px;
}