 /* Czcionka z google fonts */
 @import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@300;400;600&display=swap');

 /* Globalne zmiany */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
body,
html{
    overflow-x: hidden;
    
}

/* Navbar */
.navbar{
    position: absolute;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    color: white;
    border-radius: 4px;
    text-shadow: darkgray 0.1em 0.1em 0.2em
}
.navbar .logo{
 width: 270px;
 height: 70px;
 margin: 5px 10px;
}
.active{
        text-decoration: none;
        padding: 5px 0;  
        color: white;
        position: relative;
        text-shadow: black 0.1em 0.1em 0.2em;
        margin: 0 20px;
        font-weight: bold;
}
.coq{
    text-decoration: none;
    padding: 5px 0;  
    color: white;
    position: relative;
    text-shadow: black 0.1em 0.1em 0.2em;
    margin: 0 20px;
}
.nav-links{
    display: flex;
    align-items: center;
    text-shadow: darkgray 0.1em 0.1em 0.2em;
}
.nav-links i{
    font-size: 25px;
    color: inherit;
    width: 40px;
    height: 20px;
    line-height: 30px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 4px;
    margin-left: 10px;
    opacity: 0.7;
}
.nav-links i:hover{
    opacity: 0.9;
}
.cotn{
    padding: 6px 13px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: bold;
    background: darkslateblue;
    border-radius: 25px; 
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out; 
    transition: all 400ms ease-in-out;
    color: white;
    border: 1px solid darkslateblue;
    text-shadow: black 0.1em 0.1em 0.2em;
    margin: 0 5px;
}
.cotn:hover{
    background-color: transparent;
    border: 1px solid darkslateblue;
    color: darkslateblue;
    font-weight: bold;
    text-shadow: white 0.1em 0.1em 0.2em
}
.coq::after{
    content: "";
    background: darkslateblue;
    width: 0%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.4s;
    text-shadow: white 0.1em 0.1em 0.2em
}
.coq:hover::after{
    width: 100%;
}
header{
    width: 100vw;
    height: 55vw;
    background-image:url(./media/back.svg);
    background-position: bottom ;
    font-family: 'Poppins', sans-serif;
    background-size:cover ;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-content{
    color: white;
    text-align: center;
}
#my-span, #m-span{
    display: inline-block;
    opacity: 0;
    filter: blur(4px);
  }
.header-content h2{
    font-size: 8vmin;
    text-shadow: 3px 3px black;  
    animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
    transform: scale(0.94);
}
@keyframes scale {
    100% {
      transform: scale(1);
}
}
span:nth-child(1) {
    animation: fade-in 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.line{
    width: 150px;
    height: 4px;
    background: darkslateblue;
    margin: 5px auto;
    border-radius: 5px;
}
.header-content h1{
    font-size: 5vmin;
    margin-top: 10px;
    margin-bottom: 20px;
    text-shadow: 3px 3px black;  
    transform: scale(0.94);
    animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}
span:nth-child(2) {
    animation: fade-in 1s 1.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
@keyframes fade-in {
    100% {
      opacity: 1;
      filter: blur(0);
    }
}
.hidden-span {
        display: inline-block;
}
.ctn{
    padding: 8px 15px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5vmin;
    background: darkslateblue;
    border-radius: 30px; 
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out; 
    transition: all 400ms ease-in-out;
    color: white;
    border: 1px solid darkslateblue;
    text-shadow: black 0.1em 0.1em 0.2em;
    animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}
.ctn:hover{
    background-color: transparent;
    border: 1px solid darkslateblue;
    text-shadow: white 0.1em 0.1em 0.2em;
}
.menu-btn{
    position: absolute;
    top: 28px;
    right: 30px;
    width: 28px;
    height: 32px;
    cursor: pointer;
    display: none;
}
.word {
    margin: auto;
    color: white;
    font: 700 normal 2.5em;
    text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;
  }

/* Events */
.events{
        width: 100%;
        padding: 20px;
        text-align: center;
        font-family: 'Poppins', sans-serif;
}
.events h2 {
    margin-top: 20px;
    font-size: 4em;
    margin-bottom: 10px;
    text-shadow: 2px 1px 2px black;
}
.fed{
        font-size: 2em;
        margin-bottom: 20px;
        font-weight: bold;
        text-shadow: 1px 1px 1px black;
}
.fpd{
    font-size: 1.4em;
        margin-bottom: 10px;
        font-weight: bold;
        text-shadow: 1px 1px 1px black;
}
  ul {
    list-style: none;
}

  li {
    font-size: 1.3em;
    margin-bottom: 10px;
    font-weight: bold;
}
.title{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 6vmin;
    text-shadow: 2px 1px 2px black;
    color: #fc036b;
}
.project {
    display: inline-block;
    position: relative;
    width: 350px;
    height: 350px;
    margin: 10px;
  }
  .project img {
    width: 100%;
    height: 100%;
    transition: 0.5s ease;
    
  }
  
  .project:hover img {
    -webkit-filter: blur(5px);
    filter: blur(5px);
    
  }
.project .description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    box-sizing: border-box;
    display: none;
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out; 
    transition: all 400ms ease-in-out;
  }
  
  .project:hover .description {
display: flex;
align-items: center;
justify-content: center;
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out; 
    transition: all 400ms ease-in-out;  
}
.project p{
    font-size: 1em;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
}
.project h3{
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}
.project a{
    text-decoration: none;
}
/* Mobilny */
@media only screen and (max-width: 850px){

    .menu-btn{
        display: block;
    }
    header{
        height: 100vw;
    }
    .navbar{
        padding: 0;
        background:rgba(0, 0, 0, 0.2);
    }
    .navbar .logo{
        position: absolute;
        width: 200px;
        height: 60px;
        top: 10px;
        left: 10px;
        bottom: 10px;
    }
    .nav-links{
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background: lightsteelblue;
        margin-top: -900px;
        transition: all 0.5s ease;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        font-weight: 500;
    }
    .mobile-menu{
        margin-top: 0px;
        border-bottom-right-radius: 30%;
    }
    .nav-links li{
        margin: 30px auto;
    }

}

.footer{
    width: 100%;
    min-height: 100px;
    padding: 20px 8px;
    margin: 0;
    background: darkslateblue;
    text-align: center;
}
.footer p{
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    margin: 20px auto;
}
.footer p.copy{
    font-size: 12px;
    opacity: 0.7;
    transition: all 0.5s ease;
}
.footer p.copy:hover{
    font-size: 12px;
    opacity: 1;
}